/* Main container of the app */
.preload * {
  visibility: hidden;
}

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  /* Removed margin-top from body */
}

.app-container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background-color: #222;
  /* height: calc(100vh - 20px); Adjust the height as needed */
  /* margin-top: 20px; Space at the top */
  overflow: hidden;
}

/* Containers inside the app-container */
.chat-container, .right-container {
  width: 98%;
  height: 100%; /* Consider if this needs to be 100% */
  overflow: hidden; /* Re-evaluate if necessary */
  margin: 5px;
}

/* Video container styling */
.video-container {
  height: auto; /* Consider changing to auto if the aspect ratio padding is used */
  position: relative;
  overflow: hidden;
}

/* Wrapper for the video to maintain aspect ratio */
.video-wrapper {
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* Aspect ratio padding */
  position: relative;
}

/* Styling for the iframe (video) */
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 70%;
}

.right-container {
  /* Evaluate if this margin-top is needed */
  margin-top: 10px;
}
